html {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: white;
}

.navbar {
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
    font-size: medium;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

.navbar-brand {
    font-size: 14px;
}

.home {
    background-color: white;
    text-align: center;
    font-weight: bold;
    padding: 6em 0;
}

.home h2 {
    font-size: xx-large;
    margin: 0;
}

.home p {
    font-size: medium;
    color: #555555;
    margin: 0;
    padding: 0;
}

.home a {
    text-decoration: none;
    color: #555555;
}

.profile {
    padding: 1em;
}

.profile-image {
    max-width: 270px;
    max-height: 270px;
}

.icon {
    font-size: 1.5em;
}

.icon:hover {
    font-size: 1.8em;
}

.about {
    padding: 1em;
}

.about p {
    padding: 1em;
    font-size: medium;
    word-spacing: 4px;
    line-height: 30px;
}

.skills {
    background-color: #EAF2FA;
    text-align: center;
    padding: 4em;
}

.skills h1 {
    font-size: xx-large;
    color: #555;
    padding: 0.4em;
}

.skills h2 {
    font-size: larger;
    color: #795548;
    padding: 0.3em;
}

.work-experience {
    background-color: white;
    text-align: center;
    padding: 4em;
}

.marker {
    text-align: center;
    vertical-align: middle;
}

.fa-circle {
    font-size: x-large;
}

.work-experience h1 {
    font-size: xx-large;
    padding: 0.4em;
}

.experience {
    text-align: left;
}

.card-subtitle {
    text-decoration: none;
    text-align: left;
    font-size: medium;
    color: #555;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.relevant-courses {
    background-color: #EAF2FA;
    text-align: center;
    padding: 4em;
}

.relevant-courses h1 {
    font-size: xx-large;
    color: #555;
    padding: 0.4em;
}

.relevant-courses h2 {
    font-size: large;
    color: #795548;
    padding: 0.6em;
}

.projects {
    background-color: white;
    text-align: center;
    padding: 4em;
}

.projects h1 {
    font-size: xx-large;
    padding: 0.4em;
}

.contact {
    background-color: #EAF2FA;
    text-align: center;
    padding: 4em 3em;
}

.contact h1 {
    font-size: xx-large;
    color: #555;
    padding: 0.4em;
}

.contact form {
    text-align: left;
}

.contact h2 {
    color: #795548;
}

.contact-me {
    padding: 2em 0;
}

.contact-info {
    padding: 1em 0;
}

.contact span {
    display: block;
    width: 100%;
    border-top: 2px solid #795548;
    padding: 1em;
}

.contact a {
    padding: 0.2em;
    color: #795548;
}

.footer {
    color: #979797;
    font-size: small;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 2em;
}