html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Noto Sans KR', sans-serif;
    background-color: white;
}

body {
    margin: 0 0 0;
}

nav {
    background-color: rgb(66, 66, 102);
    overflow: hidden;
    position: fixed;
    width: 100%;
    display: inline;
    box-shadow: 1px 1px 5px black;
    padding: 1em;
}

h1.navbar {
    font-size: 20px;
    color: white;
    float: left;
    display: inline;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

nav div {
    float: right;
    padding: 0.5em;
}

nav a {
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 0 .5em;
}

nav a:hover {
    font-weight: bold;
}

img.profile {
    border-radius: 50%;
    width: 20%;
}